.footer {
  background: #FFFFEF;
  font-family: var(--font-body);
}

.footerInner {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright,
.designer {
  font-size: 0.8rem;
  color: #999;
  font-weight: 500;
}
